

/* Navbar */
#navbar {
    /* border: solid 2px red; */
    /* position: fixed;
    top: 0;
    width: 100%;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101705;
    margin: -8px;    
}

#navbar a {
    /* border: solid 2px purple; */
    padding-right: 30px;    
    font-size: larger;
    text-decoration: none;
    color: #929889;
}

#navbar h2 {
    /* border: solid 2px blue; */
    font-size: 27px;
    margin: 0;
    padding-left: 15px;
    padding-top: 25px;
    color: #929889    
}


/* index.html-main-image */
#coffee-shop img {
    width: 70%;
    margin: auto;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

/* main-page-contents */
#main {
    /* border: solid 2px red; */
    /* margin: 70px 0%; */
    margin-left: -8px;
    margin-right: -8px;
    /* font-color */
    color:black;
}

#main p {
    font-size: 22px;
    font-weight: 600;
    padding: 20px;
}

body {
    background-color: #41521f;
}


.center-text {
       text-align: center;
}

/* index.html-bottom-image */
#cezve {
    width: 35%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

/* index.html-H3-tag */
.bob {
    padding-bottom: 30px;
}

/* drink-menu-main  */
#drink-menu-main {  
    padding-top: 10%;  
    display: flex;
    justify-content: space-around;
    text-align: center;  
}

.drink-name-size {
    font-size: 30px;
       
}

.price-font-size {
    font-size: 25px;
}

#drink-menu-main img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* border-radius: 10px; */
    border: 2px solid black;
    /* transition: all ease-in-out 0.5s; */
}

#drink-menu-main img:hover {
    transform: scale(1.2);
}

.assorted {
   margin: 0;
   padding-top: 30px;    
}

.sweets {
    margin-top: 0;
    margin-bottom: 0;    
}

.sweets-price {
    margin: 0;
    padding-top: 16px;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #101705;
    color: #929889;
}

#footer a {
    font-size: 27px;
    text-decoration: none;
    padding-left: 20px;
    color: #929889 
}

/* .leaf img {
    width: 110px;
} */

.leaf-1 {
    /* border: solid 1px black; */
    width: 100%;
    align-self: end;
    transform: rotateX(180deg) translateX(4em) translateY(0.5em);
    /* padding-left: 3em; */
}

.leaf-2 {
    /* border: solid 1px black;         */
    width: 100%;
    transform: rotateY(180deg) translateX(3em);
    
    

}

.leaf-column {
    height: 100;
    display: grid;
    grid-template-columns: 15% auto 15%;
}

/* .leaf {
    width: 110px;    
    transform: translate(8vw) translateY(-100px) scaleY(-1);
}

.leaf-2 {
    width: 110px;
    transform: translate(80vw) translateY(60px) scaleX(-1);  
}
 */


/* .coffee-text {
    width: 70%;
    padding-left: 15%;
} */

